/*
Style sheet for screened devices 

    Created on : Jan 15, 2016 10:26 AM
               : Jordan Brinkerhoff

*/

@import url("normalize.css");
/*@import url(http://fonts.googleapis.com/css?family=Oxygen|Maven+Pro);*/


.intro-container {
    
    background-image: url("../img/1_small.jpg");
    background-repeat: no-repeat;
    background-position: center top;
   
        
}
.intro-container img {
    vertical-align: top;
    width: 100%; /* max width */
    opacity: 0;  /* make it transparent */
}
header {
    
}

footer {
}




